.availableMeals{
    width: 800px;
    padding: 0px 30px;
    /* background-color: white; */
    position: relative;
    /* bottom: 62px; */
    margin: 5px auto;
    /* border-radius: 20px;  */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    color: black;
    border-bottom: 1px solid black;
  }

  .mealsName{
   font-weight: bolder;
  }

  .mealsDescription{
     font-weight: 300;
  }

  .mealsPrice{
    font-weight: bold;
color: rgb(206, 104, 104);
  }
