.cart-items{
  list-style-type: none;
  margin: 0;
  padding: 0;
  max-height: 20rem;
  overflow: scroll;
}

.cart-items li{
  list-style-type: none;
  margin-left: 0px;
}

.total {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}
.total span {
  font-weight: bold;
}

.actions {
  display: flex;
  justify-content: flex-end;
}

.button--alt {
  margin-right: 2px;
  width: 60px;
  padding: 5px;
  outline: none;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.button {
  margin-left: 2px;
  width: 60px;
  padding: 5px;
  outline: none;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: brown;
  cursor: pointer;
}
